


body { 	
	background-color: black;
	color: white;
	font-family: comic sans ms;
}

h1 {
	font-size: 40px;
	background-color: yellow;
	color: red;
}

.destacado {
	color: red;
}

.centrado {
	text-align: center;
}

<!-- Autor: Derimán Tejera Fumero. 1ºDAW LND -->
